.text-container{
    position: relative;
    bottom: 480px;
    left: 170px;
    /* position: absolute; */
}
.login-content{
    position: relative;
    bottom: 150px;
    left: 320px;
    position: fixed;
}
.login-content input{
    padding: 20px;
    width: 300px;
    border-radius: 7px;
    outline: none;
    background-color: #000000cb;
    color: white;
    /* background-color: inherit; */
}
.login-content button{
    padding: 10px;
    width: 100px;
    margin-left: 290px;
    border-radius: 7px;
    margin-top: 10px;
    background-color: red;
    color: white;
}
.login-content button:hover{
    background-color: rgb(218, 25, 25);
}